<h1 class="text-center">Welcome to Eat-Da-Burger</h1>

<img src="/assets/img/burger.png" alt="burger-image" class="rounded mx-auto d-block">
<main>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h3>Burgers Still Devour</h3>
                <ul class="list-group list-group-flush">
                    {{#each burgers}}
                    {{#unless devoured}}
                    <li class="list-group-item list-group-item-info">
                        {{burger_name}}
                        <button class="devoured-btn" data-id="{{this.id}}" data-devoured="{{this.devoured}}">
                            Devour
                        </button>
                    </li>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>



            <div class="col-sm-5">
                Burgers Yet To Devour
                <ul class="list-group list-group-flush">
                    {{#each burgers}}
                    {{#if this.devoured}}
                    <li class="list-group-item list-group-item-info">
                        {{burger_name}}
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>

            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm mt-5">
                <h3>Add a burger</h3>
                <form class="create-form">
                    <div class="form-group">
                        <label for="br">Burger Name:</label>
                        <input type="text" id="br" name="burger_name">
                    </div>
                    <button type="submit">Add burger</button>
                </form>
            </div>
        </div>


    </div>


</main>